@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap");

* {
  font-family: "STIX Two Math", serif;
}

body {
  height: 2000px;
}

.App {
  text-align: center;
}

.Header {
  background-color: black;
  color: white;
}

.Socmed {
  color: black;
  height: 80vh;
}

.Project {
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9196a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
